{% extends "hotdogstore/layout.html" %}

{% load static %}


{% block body %}
    {% if cart %}
        <button id="checkout-button">Checkout</button>
        <ul id="cart-list">
            {% for cart_items in cart %}
                <div id="cart-item-element">
                    <div id="cart-name-price">
                        <h1>{{ cart_items.item.item_name }}</h1>
                        <h2>$ {{ cart_items.item.item_price }}</h2>
                        <button id="remove-from-cart-button" class="cart-buttons" data-item-name="{{ cart_items.item.item_name }}">Remove</button>
                    </div>
                    <div id="cart-img-description">
                        <img id="item-image" src="{% static  cart_items.item.item_image %}">
                        <div>
                            <h3>Description: </h3>
                            <p>{{ cart_items.item.item_description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% elif not cart %}
        <div id="empty-message">
            <p>Cart Is Empty</p>
        </div>
    {% endif %}
    
    <div id="background-container-div">
        <img id="main-BG" src="{% static 'hotdogstore/images/background.jpg' %}" alt="HotDogzz BG">
    </div>

{% endblock %}