{% extends "hotdogstore/layout.html" %}
{% load static %}

{% block body %}
    <section id="ads-special">
        <div id="ad-space-1">
            <img id="ad1" src="{% static 'hotdogstore/images/adspace.jpg' %}" alt="ad1">
            <img id="ad2" src="{% static 'hotdogstore/images/adspace.jpg' %}" alt="ad2">
            <img id="ad3" src="{% static 'hotdogstore/images/adspace.jpg' %}" alt="ad3">
        </div>
        <div id="daily-special">
            <p id="special-descr">Daily special, {{ special.item.item_name }}</p>
            <img id="daily-special-img" src="{% static special.item.item_image %}" alt="daily-special">
        </div>
        <div id="ad-space-2">
            <img id="ad4" src="{% static 'hotdogstore/images/adspace.jpg' %}" alt="ad4">
            <img id="ad5" src="{% static 'hotdogstore/images/adspace.jpg' %}" alt="ad5">
            <img id="ad6" src="{% static 'hotdogstore/images/adspace.jpg' %}" alt="ad6">
        </div>
    </section>
    <div id="background-container-div">
        <img id="main-BG" src="{% static 'hotdogstore/images/background.jpg' %}" alt="HotDogzz BG">
    </div>
{% endblock %}  