{% extends "hotdogstore/layout.html" %}
{% load static %}

{% block body %}
    <!--a lits of all the menu objects displayed via a loop-->
    <ul id="menu-list">
        {% for menu_item in menu %}
            <div id="menu-item-element">
                <div id="menu-name-price">
                    <h1>{{ menu_item.item_name }}</h1>
                    <h2>$ {{ menu_item.item_price }}</h2>
                    <!--only shows button if user is logged in-->
                    {% if user.is_authenticated %}
                        <button id="add-to-cart-button" class="menu-buttons" data-item-name="{{ menu_item.item_name }}"> Add to Cart</button>
                    {% endif %}
                </div>
                <div id="menu-img-description">
                    <img src="{% static  menu_item.item_image %}">
                    <div>
                        <h3>Description: </h3>
                        <p>{{ menu_item.item_description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
    <div id="background-container-div">
        <img id="main-BG" src="{% static 'hotdogstore/images/background.jpg' %}" alt="HotDogzz BG">
    </div>
{% endblock %}