{% extends "hotdogstore/layout.html" %}
{% load static %}

{% block body %}
    <!--for creating a new user, shows message if there is something wrong, if form recieved successfully then new user created-->
    <section id="login-page-div">
        {% if message %}
            <h2 id="alert-mesage-login">{{ message }}</h2>
        {% endif %}
        <form id="login-interface" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input id="usuername-login" name="username" placeholder="username"></input>
            <input id="email-login" name="email" placeholder="email"></input>
            <input id="password-login" name="password1" placeholder="password" type="password"></input>
            <input id="password-login2" name="password2" placeholder="confirm password" type="password"></input>
            <button id="create-button" type="submit">Create</button>
        </form>
    </section>
    <div id="background-container-div">
        <img id="main-BG" src="{% static 'hotdogstore/images/background.jpg' %}" alt="HotDogzz BG">
    </div>
{% endblock %}